<script src='https://www.google.com/recaptcha/api.js'></script>

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'forum/base_style.css' %}" />

<ul class="upPanel">
    <li class="navItem"> <a href="/forum/"> forum </a> </li>

    {% if username %}
    <li class="logItem"> you are {{ username }} </li>
    <li class="logItem"> <a href="/forum/logout/"> logout </a> </li>
    {% else %}
        <li class="logItem"> you are guest </li>
        <li class="logItem"> <a href="/forum/authentication/"> login </a> </li>
        <li class="logItem"> <a href="/forum/registration/"> register </a>  </li>
    {% endif %}
    <li class="logItem"> <a href="/forum/user_list/"> user list </a> </li>
</ul>

{% if error_message %}
    {{ error_message }}
{% endif %}

<div class="pageName"> Sections </div>

<ul class="nameList">
    {% for section in sections_list %}
        <li class="nameItem">
            <a href="/forum/{{ section.section_id }}/">{{ section.section_name }}</a>
            {% if username == "admin" %}
                ::: <a class="redLink" href="/forum/delete_section/{{ section.section_id }}"> delete </a>
            {% endif %}
        </li>
    {% endfor %}
</ul>

{% ifequal username "admin" %}
    <form action="/forum/add_section/" method="post">
        {% csrf_token %}
        <p> <input type="text" name="section_name"> </p>
        <p> <input type="submit" value="create new section"> </p>
    </form>
{% endifequal %}