{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'forum/base_style.css' %}" />

<ul class="upPanel">
    <li class="navItem"> <a href="/forum/"> forum </a> </li>
    <li class="navItem"> <a href="/forum/{{ section.section_id }}"> {{ section.section_name }} </a> </li>

    {% if username %}
    <li class="logItem"> you are {{ username }} </li>
    <li class="logItem"> <a href="/forum/logout/"> logout </a> </li>
    {% else %}
        <li class="logItem"> you are guest </li>
        <li class="logItem"> <a href="/forum/authentication/"> login </a> </li>
        <li class="logItem"> <a href="/forum/registration/"> register </a>  </li>
    {% endif %}
    <li class="logItem"> <a href="/forum/user_list/"> user list </a> </li>
</ul>

{% if error_message %}
    {{ error_message }}
{% endif %}

<div class="pageName"> Topics </div>

<ul class="nameList">
    {% for topic in topics_list %}
        <li class="nameItem">
            <a href="/forum/{{ section_id }}/{{ topic.topic_id }}"> {{ topic.topic_name }} </a>
            {% if username == "admin" %}
                ::: <a class="redLink" href="/forum/delete_topic/{{ section.section_id }}/{{ topic.topic_id }}"> delete </a>
            {% endif %}
        </li>
    {% endfor %}
</ul>

{% if username %}
    <form action="/forum/{{ section.section_id }}/add_topic/" method="post">
        {% csrf_token %}
        <p> <input type="text" name="topic_name"> </p>
        <p> <input type="submit" value="create new topic"> </p>
    </form>
{% endif %}