<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

{% load staticfiles %}
<script src="{% static 'forum/topic_script.js' %}"></script>

<p> <a href="/forum/"> forum </a> </p>
<p> <a href="/forum/{{ section.section_id }}"> {{ section.section_name }} </a> </p>
<p> <a href="/forum/{{ section.section_id }}/{{ topic.topic_id }}"> {{ topic.topic_name }} </a> </p>

{% if username %}
    <p> you are {{ username }} </p>
    <p> <a href="/forum/logout/"> logout </a> </p>
{% else %}
    <p> you are guest </p>
    <p> <a href="/forum/authentication/"> login </a> </p>
    <p> <a href="/forum/registration/"> register </a> </p>
{% endif %}
<p> <a href="/forum/user_list/"> user list </a> </p>

{% if error_message %}
    {{ error_message }}
{% endif %}

<div class="modification_div" topic_id="{{topic.topic_id}}">
    <a href="/forum/{{ section.section_id }}/{{ topic.topic_id }}"> to update topic click here </a>
</div>

Messages:
<ul>
    {% for message in message_list %}
        <li>
            {{ message.user_name }}({{ message.publication_date }}): {{ message.message_text }}
            {% if username == "admin" or message.user_name == username %}
                :::
                <a href="/forum/delete_message/{{ section.section_id }}/{{ topic.topic_id }}/{{ message.message_id }}">
                    delete
                </a>
            {% endif %}
        </li>
    {% endfor %}
</ul>

{% if username %}
    <form action="/forum/{{ section_id }}/{{ topic_id }}/submit_message/" method="post">
        {% csrf_token %}
        <p> <textarea rows="10" cols="45" name="message_text"></textarea> </p>
        <p> <input type="submit" value="submit"> </p>
    </form>
{% else %}
    guests cannot write messages
{% endif %}