<script src='https://www.google.com/recaptcha/api.js'></script>

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'forum/base_style.css' %}" />

<ul class="upPanel">
    <li class="navItem"> <a href="/forum/"> forum </a> </li>

    {% if username %}
    <li class="logItem"> you are {{ username }} </li>
    <li class="logItem"> <a href="/forum/logout/"> logout </a> </li>
    {% else %}
        <li class="logItem"> you are guest </li>
        <li class="logItem"> <a href="/forum/authentication/"> login </a> </li>
        <li class="logItem"> <a href="/forum/registration/"> register </a>  </li>
    {% endif %}
    <li class="logItem"> <a href="/forum/user_list/"> user list </a> </li>
</ul>

{% if error_message %}
    {{ error_message }}
{% endif %}

<div class="pageName"> Users </div>

<ul class="nameList">
    {% for user in user_list %}
        <li class="nameItem">
            {{ user.username }}
            {% if username == "admin" or username == user.username %}
                {% if user.username != "admin" %}
                    ::: <a class="redLink" href="/forum/delete_user/{{ user.username }}"> delete </a>
                {% endif %}
            {% endif %}
        </li>
    {% endfor %}
</ul>